html, body{
	overflow: hidden;
	margin: 0px;
}

p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

a{
	font-weight: 400;
	text-decoration: none;
	color: teal;
}

.top_bar{
	height: 10%;
	width: 100%;
	background: white;
	position: absolute;
	display: block;
	z-index: 999;
}
.bottom_bar{
	position: absolute;
	display: block;
	height: 10%;
	width: 100%;
	bottom: 0px;
	z-index: 999;
	background: white;
}

.content{
	width: 100%;
	height: 90%;
	overflow-y: scroll;
	top: 10%;
	position: absolute;
	display:block;
}

.row{
	height: 45%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 1.2em;
}

.side-left{
	background: white;
	width: 5%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 333;
	top: 0px;
	float: left;
}

.side-right{
	background: white;
	width: 5%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 333;
	top: 0px;
	right: 0px;
	float: right;
}

div#top{
	padding-top: 1em;
	padding-bottom: 1em;
	width:50%;
	height: auto;
}
div#bottom{
	padding-bottom: 12%;
}

.row-text{
	position: relative;
	width: 67%;
	float: left;
	padding-left: 3%;
}

.hands{
	position: relative;
	float:left;
	width: 30%;
}

.names{
	height: 25%;
}

iframe#player{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	z-index: -999;
}

.nav_img{
	position: absolute;
	display: block;
	padding-top: 1.5%;
	height: 45%;
	max-height: 100%
}

img#request{
	left: 0px;
	padding-left: 2em;
}
img#watch{
	left: 37.5%;
}
img#writers{
	right: 0px;
	padding-right: 2em;
}
img#title{
	right: 0px;
	padding-right: 2em;
	bottom: 0px;
	padding-bottom: 1.5%;
}