html, body{
	overflow: hidden;
	margin: 0px;
}

p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

a{
	font-weight: 400;
	text-decoration: none !important;
	color: #800020 !important;
}
a:hover{
	font-weight: 600;
	color: #800020 !important;
}

.top_bar{
	height: 3.25em;
	width: 100%;
	padding-top: 1em;
	background: white;
	position: absolute;
	display: block;
	z-index: 999;
}
.bottom_bar{
	position: absolute;
	display: block;
	height: 3.25em;
	width: 100%;
	bottom: 0px;
	z-index: 999;
	background: white;
	padding-top: 1em
}

.content{
	width: 100%;
	height: 80%;
	overflow-y: scroll;
	top: 10%;
	position: absolute;
	display:block;
}

.row{
	width: 70% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
	padding-bottom: 1.2em !important;
}

.side-left{
	background: white;
	width: 5%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 333;
	top: 0px;
	float: left;
}

.side-right{
	background: white;
	width: 5%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 333;
	top: 0px;
	right: 0px;
	float: right;
}

div#top{
	padding-top: 1em;
	padding-bottom: 1em !important;
	width:60% !important;
	height: auto !important;
}

.row-text{
	position: relative;
	width: 70%;
	float: left;
	padding-left: 3%;
}

.hands{
	position: relative;
	float:left;
	width: 30%;
}

.names{
	height: 4.5em;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

iframe#player{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	z-index: -999;
}

.nav_img{
	position: absolute;
	display: block;
	height: 45%;
	max-height: 100%
}

div#still{
	display: none;
}

.request-form{
	padding-top: 10px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img#request{
	left: 0px;
	padding-left: 2em;
}
img#writers{
	right: 0px;
	padding-right: 2em;
}
img#title{
	right: 0px;
	padding-right: 2em;
}

button.btn.btn-primary{
	background-color: #800020;
	border-color: #800020;
	margin-bottom: 2rem !important;
}

@media only screen and (min-width: 751px){
img#watch{
	width: 12em;
	left: 50%;
	margin-left: -6em;
}
}


@media only screen and (min-width: 320px) and (max-width: 750px) {
.nav_img{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	height: 15px;
}

img#request{
	padding-left: 0px;
}
img#watch{
	width: inherit;

}
img#writers{
	padding-right: 0px;
}
img#title{
	padding-right: 0px;
}

.content{
	width: 100%;
	height: 80%;
	overflow-y: scroll;
	top: 110px;
	position: absolute;
	display:block;
}

.top_bar{
	height: 110px;
}

}

@media only screen and (min-width: 320px) and (max-width: 430px) {

div#still{
	display:block;
	top: 110px;
	position: relative;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

iframe{
	display: none;
}
}