<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jiwon Shin</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57429409-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <span class="light">Jiwon Shin</span>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#redspace">Red Space</a>
                    </li>
					<li class="page-scroll">
                        <a href="#boundary">Boundaries</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Jiwon Shin</h1>
                        <p class="intro-text">NYU Abu Dhabi, class of 2016. <br> Bachelor of Science, Computer Science. <br> Bachelor of Arts, Visual Arts.</p>
						<p><a href="img/Jiwon_Shin_CV.pdf" download>Download my CV.</a></p>
                        <div class="page-scroll">
                            <a href="#redspace" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="redspace" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Project Red Space</h2>
				<div class="sideimg">
				<a href="http://projectredspace.com" target="_blank"><img src="img/connection6.jpg" width="400"></a>
				</div>
				<br>
				<div class="desc">
				<p>
				Project Red Space uses wireframes and knitting to create the feeling of uncanniness in a public space.
				<br>
				<a href="http://projectredspace.com" target="_blank">Visit the project's website.</a>
				</p>
				</div>
                <div class="page-scroll">
                	<a href="#boundary" class="btn btn-circle">
                		<i class="fa fa-angle-double-down animated"></i>
                		</a>
                </div>
            </div>
        </div>
    </section>

    <section id="boundary" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Boundaries</h2>
				<div class="sideimg">
				<a href="http://jiwonshin.com/boundary.html" target="_blank"><img src="img/boundary4.jpg" width="400"></a>
				</div>
				<br>
				<div class="desc">
				<p>
				Boundaries project appropriates images of various topics to visualizes the confinements that we locate ourselves in. The project is greatly influenced by the artist Jan Dibbets.
				<br>
				<a href="http://jiwonshin.com/boundary.html" target="_blank">Visit initial version of the project.</a>
				<br>
				<a href="http://jiwonshin.com/final.html" target="_blank">Visit the second version of the project.</a>
				</p>
				</div>
                <div class="page-scroll">
                	<a href="#contact" class="btn btn-circle">
                		<i class="fa fa-angle-double-down animated"></i>
                		</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>You can reach me through my email (js6450@nyu.edu). <br> Feel free to email me if you have any questions!</p>
                <p>You can also check out my Tumblr page for <br> more information about my work and interests.</p>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="http://js6450.tumblr.com/" class="btn btn-default btn-lg"><i class="fa fa-tumblr fa-fw"></i> <span class="network-name">Tumblr</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</body>

</html>
